include etc/rules.ninja
build build.ninja: configure

subninja out/compiler-rt.ninja
subninja out/musl.ninja
# subninja out/libcxxabi.ninja
# subninja out/libcxx.ninja
subninja out/irt.ninja
subninja out/hello_world.ninja
