{% for src in srcs -%}
build {{obj_prefix}}{{src|replace('.cc', '.ll')}} : cxx {{src_prefix}}{{src}}
{% endfor %}
build out/main.ll: link
{%- for src in srcs %} $
  {{obj_prefix}}{{src|replace('.cc', '.ll')}}
{%- endfor %}
