{% for src in srcs -%}
build {{obj_prefix}}{{src|replace('.cpp', '.ll')}} : cxx {{src_prefix}}{{src}}
{% endfor %}
build out/libcxxabi.ll: link
{%- for src in srcs %} $
  {{obj_prefix}}{{src|replace('.cpp', '.ll')}}
{%- endfor %}
